.root {
    -fx-background-color: #1d1d1d;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 25pt;
    -fx-font-family: "Segoe UI";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.tab {
    -fx-background-color: #3a3a3a;
}

.tab-label {
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: #4d4d4d;
}

.tab-pane *.tab-header-background {
    -fx-background-color: #1d1d1d;
}

.list-view {
    -fx-control-inner-background: #1d1d1d;
    -fx-control-inner-background-alt: #333333;
    -fx-padding: 5;
    -fx-border-width: 0px;
}

.list-view .list-cell .label{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
}

.list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}
.list-cell:highlighted{
    -fx-text-fill: #cc7a00;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-control-inner-background-alt: #333333;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35px;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view .table-row-cell {
    -fx-control-inner-background: #1d1d1d;
    -fx-control-inner-background-alt: #333333;
}

.table-view .table-row-cell:stock-out {
    -fx-control-inner-background: #4d0000;
    -fx-control-inner-background-alt: #4d0000;
}

.table-view .table-row-cell:stock-low {
    -fx-control-inner-background: #4d2e00;
    -fx-control-inner-background-alt: #4d2e00;
}

.table-view .table-row-cell:stock-high {
    -fx-control-inner-background: #1a3300;
    -fx-control-inner-background-alt: #1a3300;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.grid-pane {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,5%);
}

.titled-pane, .titled-pane > .title, .titled-pane > *.content, .text-field,
.password-field, .choice-box, .text-area, .combo-box, .button, .label, .text-displayer {
    -fx-font: 12pt "Segoe UI Semibold";
    -fx-background-color: #1d1d1d;
    -fx-text-fill: #d8d8d8;
}

.text-displayer {
    -fx-fill: #d8d8d8;
}

.titled-pane, .titled-pane > .title, .titled-pane > *.content {
    -fx-border-width: 0;
}

.text-field, .password-field, .choice-box, .text-area, .combo-box, .button{
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
}

.label{
    -fx-pref-width: 150;
    -fx-pref-height: 30;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.text-area .content {
    -fx-background-color: #1d1d1d;
    -fx-padding: 15 15 15 15;
}

#stat-screen-text-area {
    -fx-border-width: 0;
}

.progress-indicator {
    -fx-pref-width: 50;
    -fx-pref-height: 50;
}

.grey-intermediary-pane {
    -fx-background-color: #1d1d1d;
    -fx-opacity: 85%;
}

.main-module-pane {
    -fx-padding: 10 10 10 10;
}

.validator {
    -fx-padding: 10 10 10 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.validator .button{
    -fx-pref-width: 150;
    -fx-pref-height: 50;
}

.sidebar {
    -fx-background-color: #2e2e2e;
    -fx-padding: 5 22 5 22;
    -fx-border-color: whitesmoke;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
    -pqt-expanded-width : 195px;
}

.tool-bar {
    -fx-background-color: #2e2e2e;
    -fx-padding: 5 5 5 5;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.toast-text{
    -fx-font: 50px "Impact";
    -fx-fill: whitesmoke;
}

.toast-pane {
    -fx-background-radius: 10px;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-border-width: 2px;
    -fx-border-color: whitesmoke;
    -fx-border-radius: 6px;
    -fx-padding: 25px;
}